@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');
html{
    font-size: 62.5%; 
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}





:root {
    
    --primary: #f9f4f4;
    --secondary: #c6d5f8;
    --alternative: #9C9EFE;
    --complementary:#acabac;
    --darkcolor: #301024;
    --whitecolor: whitesmoke;
    --footer: #3F72AF;
    
    --textRegular: 'Quicksand', sans-serif;
    --textTitles: 'Nunito', sans-serif;

    --center: center;
    --left:left;

    --spacingLarge: 5em;
    --spacingMedium:2.5em;
    --spacingSmall:2em;
    --spacingXsmall:0.1em
    
}



.background__Light { 
    background-color: var(--primary);
}
.background__Medium{
    background-color: var(--alternative);
}
.background__Strong {
    background-color: var(--secondary);
}

.background__Footer{
    background-color: #3F72AF;
}

.background__MediumPlus {
    background-color: var(--complementary);
}

.background_grad{
    background: linear-gradient(to bottom,var(--complementary),var(--secondary))
}

.color-dark {
    color:var(--darkcolor);
}
.color_light{
    color:var(--primary);
}
/* gradient */
.grad__Nav{
    background: linear-gradient(to left, var(--alternative), #5aa1f7);
}
.grad__Button{
    background:linear-gradient(to bottom,var(--complementary),var(--secondary));
    border-radius: 0.4em;
    cursor:pointer;
}

.grad__Button:hover{
    transform: scale(1.2);
    transition: transform 1s;
}

.grad__Productos{
    background: linear-gradient(to left,#e7d9f8,var(--complementary));
    cursor:pointer;
}

/* Animaciones */

.navbar ul li:hover{
    transform: scale(1.4);
    transition: transform 1s;
}   
footer section ul li a:hover{
    text-shadow: var(--spacing-xsmall);
    color: var(--darkcolor);
    transition: transform 1s;
}
footer section div a img:hover{
    transform: scale(1.3);
    transition: transform 1s;}

.elemento_Anime{
    animation-duration: 2s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
    margin-left: 100%;
    width: 200%
    }

    to {
    margin-right: 0%;
    width: 100%;
    }
}


/*  Text */


#nav_whattext {
    margin-bottom:0em;
    font-size: 1rem;
    line-height: 1.4em;
}


.texto_small {
    font-family: var(--textRegular);
    font-size: 1.0em;
    color: #464646;
}

.texto_Institucional {
    font-family: var(--textRegular);
    font-size: 2.3em;
    color: #202020;
    text-align: center;
}

.texto_titulosmain{
    font-family: var(--textTitles);
    font-size: 2em;
    color: #202020;
    font-style: italic;
    text-align: center;
    font-weight: bold;
} 

.texto_Contacto {
    font-family: var(--textRegular);
    font-size: 1.8em;
    color: #8a9597;
    text-align: center;
}

/* font */

.fontfamily__Text{
    font-family: 'Quicksand', sans-serif;
}
.fontfamily__Title{ 
    font-family: 'Nunito', sans-serif;
}

/* image */

.image_Logo {
    width:  6em !important;
    height: 3.5em !important; 

}
.image_Promo{
    width: 25%;
    height: auto;
}
.image_Icon { 
    width: 4em;
    height: 4em;
}
.image_card {
    width: 100%;
    height: 25em;
}
    
.image_Large {
    width: 90%;
    height: 40em;
}
.image_medium {
    width:27em;
    height: auto;
}
.image_medios__Pago{
    width:8em;
    height: 8em;
}

/* allign */

.textCenter {
    text-align: center;
    }
    
.textLeft {
    text-align: left;
    }


/* Header All */

header {
    width:100%; 
    height:auto;
    /*grid-column: 1 / 2;
    grid-row: 1 / 2;*/
    display:flex;
    flex-direction: column;
}

.navbar ul li { 
    padding-left: 1.5em;
    padding-right: 1em;
}
.navbar_text {
    text-decoration: none;
    text-transform: capitalize;
    font-size:1.7em;
    font-family: var(--textTitles)!important;
    font-weight: 400;
    color: var(--primary) !important;
    ;
}


    header div a{
        font-family: var(--textRegulartex);
        font-size: 1.5em; 
        color: var(--primary);
        text-align: center;
        text-shadow: rgb(30, 31, 29) var(--spacing-xsmall);
        text-decoration: none;
    
    }

    #nav__whatsapp{
        width: 100%;
        max-height: auto;
    }
    
    /* Footer All */

footer{
    display:flex;
    flex-direction: row;
    background: linear-gradient(to bottom,#3F72AF,var(--alternative));
    padding: var(--spacingMedium); 
    justify-content: space-between;    
}
#footer_Section1 ul{
    list-style: none;
    text-decoration: none;
}
#footer_Section1 ul a{
    text-decoration: none;
}

.paragraph__Footer{
    font-size: 1.6em;
    font-family: var(--textRegular);
    font-weight: 100;
    color: var(--primary);
    text-shadow: #301024 0.1em 0.1em 0.1em;
}

#main_Index{
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding:0.5em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    gap: 2.5em;  

}

#title_Principal{
    font-size: 3em;
    color: var(--primary);
    font-family: var(--font-title);
    text-transform: capitalize;
    text-decoration: solid; 
    background-color: var(--alternative);
    text-align: center;
}



#sale_body{
    background: linear-gradient(to bottom,var(--complementary),var(--secondary));
    font-family: var(--_Regular);
    color: var(--primary);
}

.sale_Text{
    font-family: var(--textRegular);
    font-size: 1.8em;
    text-align: center;
    color: var(--complementary);
    font-weight: 400;
    font-style: italic;
}

.border_none{
    border-width: 0em;
}

/* Cards Productos */

.card_Article{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left,var(--complementary),var(--secondary));
    font-family: var(--textRegular);
    color: var(--primary);
    margin-bottom: 2em;
    padding:1em;
}

.background_grad{
    background: linear-gradient(to bottom,var(--complementary),var(--secondary))
}



.text_Formasdepago{
    color: var(--alternative);
    font-family: var(--font-title);
    text-decoration: solid; 
    text-align: center;
    font-size: 1.4em;
}


#destacados{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.title_SectionIndexProductos{
    color: whitesmoke;
    font-family: var(--font-title);
    font-size: medium;
    line-height: 20em;
}

.title_encabezadoIndex {
    border-color: #464646;
    border-width: 0.5em;
    border-style: solid;
    border-radius: 0.1em;
    background-color: var(--alternative);
    margin-bottom: 2em;
}

#recien_Llegados{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

/* Main index Producto */

#grid_mainProductos{
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(5,20em);
    grid-template-rows: repeat(7, auto);
    grid-row-gap: 2.0em;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    grid-template-areas:
    "filtro producto producto producto producto"
    "pago producto producto producto producto"
    "pago producto producto producto producto"
    "none producto producto producto producto"
    "none producto producto producto producto"
    "none producto producto producto producto";
    
}
#filtro{
    grid-area: filtro;
}

#filtro form{
    display: flex;
    flex-direction: column;
    
}

#productos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self:flex-start;
    justify-content: space-between;
    margin: 1em;
    grid-area: producto;
}


.filtro{
    justify-items:center;
    font-family: var(--textRegular);
    color: var(--alternative);
    font-weight:Bold;
    font-size: 1.3em;
    text-align: center;
}

.medios_Pago{
    font-family: var(--textRegular);
    font-size: var(--spacingSmall);
    color: #464646;
    font-weight: 700;
    border-radius: 0.5em;
    margin-bottom: 1em;
    
    
}

#field_Pago{
    grid-area: pago;
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

/* Main Deco a Medida*/

.section_Amedida{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin:2em;
    padding:1em;
}
.section_Amedida div{
    padding:1em 2em 1em 2em;
}
#Contac_button{
    padding-top:2em;
    margin-left: 50%;
    transform: translateX(-50%)
}



/*main Quienes Somos*/

.section_quienesomos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin:2em;
    padding:1em
}

.video {
    width: auto;
    height: 40em;
}

.section_quienesomos div{
    padding: 2em;   
}

/* Contacto */

#formulario_contacto{
    grid-area: form;
    color: var(--alternative);
    font-size:1.4em;    
    margin-left:0;
    width: 100%;
}

.form-text {
    color: var(--alternative);
    font-size:1em;    
    margin-left:0;
}

#formulario form{
    display:flex;
    flex-direction: column;
    justify-content: center;

}

#iframe {
    grid-area: map;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    }

.iframe-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (max-width:1200px){
    
    .articulo_Productos {
        background: white;
        color: var(--darkcolor);}

    #sale{
        padding:1em 20em !important;
        }
    #grid_mainProductos {
        
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(5,20vw);
        grid-template-rows: repeat(6, auto);
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "filtro filtro pago pago none"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto";
        
    }
    
    #filtro form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    #productos{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self:center;
        justify-content: space-around;
        margin: 3em;

    
    }
    
    #field_Pago{
        text-align: center;
        display:flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .section_Amedida{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin:2em;
        padding:1em;
    }



.section_quienesomos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin:2em;
    padding:1em
}
.section_quienesomos div{
    padding-top: 1em;  
    margin-top:1em; 
}
.video {
    width: 100%;
    height: auto;
}

}   
@media only screen and (max-width:768px) {  

    #sale{
        padding:1em 1em !important;
        }

    .articulo_Productos {
        background-color: white;
        color: var(--darkcolor);
    }
    
    #destacados{
        flex-direction: column;
        justify-content: center; 
    }
    
    #recien_Llegados{
        flex-direction: column;
        justify-content: center; 
    }
    
    .title_SectionIndexProductos{
    line-height: 2em;
}
    .card_Article{
    background: none;
    font-family: var(--textRegular);
    color: var(--darkcolor);
    margin-bottom: 2em;

    }

    #grid_mainProductos{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 100%;
        height: auto;
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(5,20vw);
        grid-template-rows: repeat(6, auto);
        grid-column-gap: 1em;
        grid-row-gap: 1.5em;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "filtro filtro filtro filtro filtro"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "pago pago pago pago pago";
        
    }
    
    #filtro form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #productos{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self:flex-start;
        justify-content: space-around;
        margin: 1em;
    
    }
    
    #field_Pago{
        text-align: center;
        display:flex;
        flex-direction: row;
        justify-content: center;
        
    }

.section_quienesomos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin:0.5em;
    padding:1em
}
.video {
    width: 100%;
    height: auto;
}

#footer_email {
    width: 100%;
    height: auto;
}
.image_medium {
    width:100%;
    height: auto;
}
}   
@media (max-width:550px) {
   
    
    .articulo_Productos {
        background-color: white;
        color: var(--darkcolor);
    }

    footer {
        display:flex;
        flex-direction: column;
        background-color: var(--footer);
        padding: var(--spacingMedium); 
        justify-content: center; 
        align-items: center;  
        text-align: center;
    }
    .textLeft{ 
        text-align: center;
    }

    #productos{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self:center;
        justify-content: center;
        margin: 1em;
    
    }
    
    /*#field_Pago{
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }*/

    .section_Amedida{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin:0.2em;
        padding:0.2em;
        align-content: center;
}

/*.video {
    width: 100%;
    height: auto;
}*/

#footer_email {
    width: 100%;
    height: auto;
}

/*.image_medium {
    width:100%;
    height: auto
}

#grid_contacto{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5,auto);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    row-gap: 5em;
    column-gap: 2em;
    margin:1em;
    padding: 2em;
    
    grid-template-areas: 
    "whatts whatts"
    "phone phone"
    "mail mail"
    "form form"
    "map map"
}*/
}