
// Index.Html//

#main_Index{
    width: 100%;
    height: auto;
    margin-top: $spacing-xs;
    margin-bottom: none;
    padding:$spacing-xs;
    @include flex (column,space-between,stretch,wrap);
    align-content: center;
    gap: $spacing_lg;
    div{
        h1{
            font-size: $spacing_lg;
            color: $primarycolor;
            font-family: $textTitles;
            text-transform: capitalize;
            text-decoration: solid; 
            background-color: $alternativecolor;
        }
    }  
}

#destacados, #recien_Llegados{
    @include flex (row,space-evenly,stretch,wrap);
    margin-bottom: $spacing_sm;
}

// Productos //

#grid_mainProductos{
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(5,20em);
    grid-template-rows: repeat(7, auto);
    grid-row-gap: 2.0em;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    grid-template-areas:
    "filtro producto producto producto producto"
    "pago producto producto producto producto"
    "pago producto producto producto producto"
    "none producto producto producto producto"
    "none producto producto producto producto"
    "none producto producto producto producto";
    }

    #filtro{
        grid-area: filtro;
    }
    #productos{
            grid-area: producto;
            @include flex (row, space-between, center, wrap);
            align-self:flex-start;
            margin: $spacing_sm;
    }
    #field_Pago{
            grid-area: pago;
            @include flex (column,center,center,wrap);  
    }

// Main deco a Medida//

.section_Amedida{
    width: 100%;
    height: auto;
    @include flex (row,space-around,center,nowrap);
    margin: $spacing_md;
    padding:$spacing_sm;
    div {
    padding: $spacing_md $spacing_sm;
    }
}
#contac_button{
    padding-top:$spacing_md;
    margin-left: 50%;
    transform: translateX(-50%)
}

// quienes somos //
.section_quienesomos{
    width: 100%;
    height: auto;
    @include flex (row, space-between,center,nowrap);
    margin: $spacing_md;
    padding:$spacing_sm;
    div{
        padding:$spacing_md;
    }
}

.video {
    width: auto;
    height: 40em;
}

// Contacto //


#formulario_contacto{
    width: 100%;
    @extend .form_primary;
}




#iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    }

.iframe-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#error-404{
    @include flex (column, center, center, nowrap);
    width:100%;
    height:auto;
    margin-top: $spacing_xxl;
}

