
footer{
    display:flex;
    flex-direction: row;
    background-color:linear-gradient(to bottom,$footercolor,$alternativecolor);
    padding: $spacing_md; 
    justify-content: space-between;    
    section{
        ul{
        list-style: none;
        li{ a:hover{text-shadow: $spacing-xs;
            color: $darkcolor;
            transition: transform 1s}
        }
        }
    }section{ div { a { img:hover{
        transform: scale(1.3);
        transition: transform 1s;}
    }
    }
}
}

.text_footer { 
    font-size: $fontsize_md;
    font-family: $textRegular;
    font-weight: map-get($map: $fontweight, $key:small);
    color: $primarycolor;
    text-decoration: none;
}







