@media only screen and (max-width:1200px){
    
    #sale{
        padding:1em 20em !important;
        }



    .section_Amedida{
        width: 100%;
        height: auto;
        @include flex (row,space-around,center,wrap);
        margin:$spacing_md;
        padding:$spacing_sm;
    }


.section_quienesomos{
    width: 100%;
    height: auto;
    @include flex (column-reverse,center,center,nowrap);
    margin:$spacing_md;
    padding:$spacing_sm;
}
.section_quienesomos div{
    padding-top: $spacing_sm;  
    margin-top:$spacing_sm; 
}
.video {
    width: 100%;
    height: auto;
}



}
@media only screen and (max-width:992px){


    #grid_mainProductos {
        
        padding-top: $spacing_sm;
        display: grid;
        grid-template-columns: repeat(5,20vw);
        grid-template-rows: repeat(6, auto);
        grid-column-gap: $spacing_sm;
        grid-row-gap: $spacing_sm;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "filtro filtro pago pago pago"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto";
        
        }
    
    #filtro {
        width:95%;
    }
    
    #field_Pago{
            @include flex (column,center,none,wrap);  
    }
    .image_small{
        width: 100%;
        height: 17em;
    }

    .box_title{
        width: 100%;
        height:auto;
    }
    #destacados, #recien_Llegados{
         
        @include flex (column,center,center,nowrap);
        .text_title1{
            line-height: $spacing_md;
            
        }
    }

    .textp_md{
        color:$darkcolor;
    }
.background__card{
    background: none;
}

.card_Article{
    color:$darkcolor;
}
}
@media only screen and (max-width:768px) {  

    #sale{
        padding:$spacing_sm $spacing_sm !important;
        }

    #grid_mainProductos{
        
        width: 100%;
        height: auto;
        padding-top: $spacing_sm;;
        display: grid;
        grid-template-columns: repeat(5,20vw);
        grid-template-rows: repeat(6, auto);
        grid-column-gap: $spacing_sm;;
        grid-row-gap: $spacing_sm;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "filtro filtro filtro filtro filtro"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "producto producto producto producto producto"
        "pago pago pago pago pago";
        
    }
    

.section_quienesomos{
    width: 100%;
    height: auto;
    @include flex (column-reverse,center,center,nowrap);
    margin:$spacing_xs;
    padding:$spacing_sm;
}
.video {
    width: 100%;
    height: auto;
}

#footer_email {
    width: 100%;
    height: auto;
}
.image_medium {
    width:100%;
    height: auto;
}
}   
@media (max-width:550px) {


    footer {
        @include flex (column, center, center,wrap);
        padding: $spacing_md; 
        text-align: center;
    }
    .textLeft{ 
        text-align: center;
    }

#productos{
    @include flex (column, center, center,wrap);
    margin: $spacing_sm;
    
    }
    
#footer_email {
    width: 100%;
    height: auto;
}

}