

/* color */

$primarycolor: #f9f4f4;
$secondarycolor: #c6d5f8;
$alternativecolor: #9C9EFE;
$complementarycolor:#acabac;
$darkcolor: #301024;
$whitecolor: whitesmoke;
$footercolor: #3F72AF;
$navbarcolor:#5aa1f7;


/* text */

$textRegular: 'Quicksand', sans-serif;
$textTitles: 'Nunito', sans-serif;

/* Spacing */

$spacing_xl: 5em;
$spacing_lg:3em;
$spacing_md:2em;
$spacing_sm:1em;
$spacing_xs:0.5em;
$spacing_xxs:0.01em;

//font size //

$fontsize_xs: 1em;
$fontsize_sm: 1.5em;
$fontsize_md: 1.8em;
$fontsize_lg:2.0em;
$fontsize_xl:2.5em;

// Font weight "
$fontweight: (
 'xsmall' : 100,
 'small' : 400,
 'Medium' : 700,
 'Bold': 900,
 ); 



